<DeploymentOptionSection>    
	<Info>The list of deployment options</Info>    
	<Configuration ovf:id="docker">      
		<Label ovf:msgid="config.docker.label"/>      
		<Description ovf:msgid="config.docker.description"/>    
	</Configuration>
	<Configuration ovf:id="remote">      
		<Label ovf:msgid="config.remote.label"/>      
		<Description ovf:msgid="config.remote.description"/>    
	</Configuration>  
  </DeploymentOptionSection>