[Unit]
Description=Systemd Service to run the Tanzu installer interface to deploy a management cluster
After=network.target

[Service]
Restart=on-failure
ExecStart=/usr/local/bin/tanzu management-cluster create --ui --bind 0.0.0.0:5555 --browser none

[Install]
WantedBy=multi-user.target